.footer-container {
  padding: 5rem 0 3rem;
  background: rgb(5, 5, 5);
  margin-top: 10rem;

  footer {
    max-width: 1200px;
    margin: 0 auto;
    color: grey;
    padding: 0 1rem;

    .web-links {
      font-size: 3rem;
      margin-bottom: 1rem;
      text-align: center;

      @media (max-width: $mobile) {
        font-size: 2rem;
      }

      a {
        color: grey;
        transition: color 0.5s ease;

        &:first-child {
          margin-right: 1rem;
        }

        &:hover {
          color: #f4f4f4;
        }
      }
    }

    p {
      margin: 2rem 0 0;
      text-align: center;
      font-size: 0.9rem;
    }
  }
}
