.header-container {
  height: 88vh;

  .video {
    width: 100%;
    height: 88vh;
    object-fit: cover;

    .youtube {
      width: 100%;
      height: 88vh;
    }
  }
  img {
    width: 100%;
    height: 88vh;
    object-fit: cover;
  }

  .movie-info {
    padding: 18rem $padd-lr 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 88vh;
    top: 0;
    left: 0;
    background: rgba(5, 5, 5, 0.5);
    box-shadow: inset 0px 45px 50px -1px rgba(0, 0, 0, 0.75);
    box-shadow: inset 0px -146px 80px 2px rgba(0, 0, 0, 1);

    @media (max-width: $iphone6) {
      padding: 13rem 2rem;
    }

    @media (max-width: $iphone5) {
      padding: 10rem 2rem;
    }

    @media (max-width: $iphone4) {
      padding: 6rem 2rem;
    }
    //  z-index: -1;

    h1 {
      text-transform: uppercase;
      font-size: 4rem;
      color: $red;
      width: 45%;

      @media (max-width: $desktop) {
        width: 80%;
      }

      @media (max-width: $iphone6) {
        font-size: 1.5rem;
      }

      @media (max-width: $iphone5) {
        font-size: 1.2rem;
      }

      @media (max-width: $iphone4) {
        font-size: 1.1rem;
      }
    }

    .movie-description {
      font-size: 1.5rem;
      line-height: 1.4;
      margin: 2rem 0;
      width: 38%;
      font-weight: 300;

      @media (max-width: $desktop) {
        width: 100%;
      }

      @media (max-width: $iphone6) {
        font-size: 0.9rem;
        font-weight: 300;
      }

      @media (max-width: $iphone4) {
        font-size: 0.8rem;
      }
    }

    .more-info {
      a {
        padding: 0.5rem 3rem;
        font-size: 1.2rem;
        text-transform: capitalize;
        background: rgba(100, 100, 100, 0.9);
        color: $white;
        border-radius: 4px;
        transition: all 0.2s ease;
        font-weight: 300;

        @media (max-width: $iphone6) {
          font-size: 0.9rem;
          padding: 0.3rem 1.2rem;
          font-weight: 300;
        }

        @media (max-width: $iphone4) {
          font-size: 0.8rem;
        }

        &:hover {
          background: grey;
          opacity: 0.8;
        }
      }
    }
  }
}

.loading-movie {
  text-align: center;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../img/people.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
