.Navbar {
  width: 70%;
  height: 6vh;
  margin: 0 auto;
  @include flex(space-between);
  align-items: center;
  text-transform: capitalize;
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  @media (max-width: $iphone6) {
    width: 100%;
    padding: 1rem 2rem 0;
  }

  .logo {
    font-size: 1.8rem;
    font-weight: 600;
    color: $red;

    @media (max-width: $iphone6) {
      font-size: 1.5rem;
    }
  }

  .nav-links {
    .active {
      background: #921115;
    }

    a {
      display: inline-block;
      padding: 0.4rem 1.1rem;
      color: $white;
      background: $red;
      border-radius: 3px;
      font-size: 0.9rem;

      @media (max-width: $iphone6) {
        font-size: 0.8rem;
        padding: 0.3rem 0.7rem;
      }

      &:first-child {
        margin-right: 0.7rem;
      }
    }
  }
}

// HOME HEADER STARTS HERE

.HomeHeader {
  height: 55vh;
  width: 100%;
  padding-top: 8rem;
  background: url("../img/home.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  box-shadow: inset 0px 0px 69px 37px rgba(0, 0, 0, 0.75);

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
  }

  @include flex(center);
  align-items: center;

  .home-desc {
    width: 30%;
    text-align: center;
    z-index: 10;

    @media (max-width: $lap-top) {
      width: 70%;
    }

    h1 {
      font-size: 3rem;
      @media (max-width: $lap-top) {
        font-size: 2rem;
      }

      @media (max-width: $iphone6) {
        font-size: 1.5rem;
      }
    }

    span {
      margin: 1rem 0;
      font-size: 1.3rem;

      @media (max-width: $lap-top) {
        font-size: 1.1rem;
      }

      @media (max-width: $iphone6) {
        font-size: 0.9rem;
      }
    }
  }
}
