.MainContent-border {
  border-top: 6px solid rgb(70, 67, 67);
  border-bottom: 6px solid rgb(70, 67, 67);
  padding: 7rem 0 4rem;

  @media (max-width: $iphone6) {
    border-top: 3px solid rgb(70, 67, 67);
    border-bottom: 3px solid rgb(70, 67, 67);
    padding: 4rem 0;
  }

  .MainContent {
    max-width: 1100px;
    margin: 0 auto;
    @include flex(space-between);

    @media (max-width: $med-desktop) {
      flex-direction: column;
      padding: 0 1rem;
    }

    .MainContent-desc {
      @media (max-width: $med-desktop) {
        width: 100%;
      }

      .h-desc {
        font-size: 3rem;
        margin-bottom: 1rem;

        @media (max-width: $lap-top) {
          font-size: 2rem;
        }

        @media (max-width: $lap-top) {
          font-size: 1.5rem;
        }
      }
      .p-desc {
        font-size: 1.5rem;
        @media (max-width: $med-desktop) {
          margin-bottom: 2rem;
        }

        @media (max-width: $lap-top) {
          font-size: 1.1rem;
          line-height: 1.4;
        }

        @media (max-width: $lap-top) {
          font-size: 0.9rem;
        }
      }
    }

    .MainContent-img {
      width: 60%;
      @media (max-width: $med-desktop) {
        width: 100%;
      }

      img {
        border: 3px solid rgb(90, 88, 88);
        width: 100%;
        height: 290px;
        object-fit: cover;
        @media (max-width: $med-desktop) {
          height: 450px;
        }

        @media (max-width: $lap-top) {
          height: 300px;
        }
      }
    }
  }
}

.second-border {
  border-bottom: 6px solid rgb(70, 67, 67);

  @media (max-width: $lap-top) {
    border-bottom: 3px solid rgb(70, 67, 67);
    margin-bottom: -4rem;
  }

  .downloading-example {
    max-width: 1100px;
    margin: 0 auto;
    @include flex(space-between);
    height: 30vh;
    align-items: center;

    @media (max-width: $med-desktop) {
      flex-direction: column;
      padding: 0 1rem 3rem;
      margin: 3rem auto;
      height: 25vh;
    }

    @media (max-width: $lap-top) {
      height: 20vh;
    }

    .downloading-icon {
      display: flex;
      align-items: center;
      margin-bottom: 1.5rem;

      p {
        margin-right: 2rem;
        font-size: 1.2rem;

        @media (max-width: $lap-top) {
          font-size: 0.9rem;
        }
      }
    }

    .download-desc {
      width: 50%;
      @media (max-width: $med-desktop) {
        width: 100%;
      }

      h1 {
        font-size: 2.7rem;
        margin-bottom: 1rem;

        @media (max-width: $med-desktop) {
          font-size: 2rem;
          margin-bottom: 2rem;
        }

        @media (max-width: $lap-top) {
          font-size: 1.5rem;
        }
      }

      p {
        font-size: 1.5rem;
        @media (max-width: $med-desktop) {
          font-size: 1.1rem;
        }

        @media (max-width: $lap-top) {
          font-size: 0.9rem;
        }
      }
    }
  }
}
