.navbar-container {
  @include flex(space-between);
  align-items: center;
  padding: 0 $padd-lr;
  height: 6vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  transition: all 0.5s ease;

  @media (max-width: $mobile) {
    flex-direction: column;
  }

  header {
    width: 30%;
    @include flex(space-between);

    @media (max-width: $big-desktop) {
      width: 35%;
    }
    @media (max-width: $fourteen-hundred) {
      width: 50%;
    }

    @media (max-width: $desktop) {
      flex-direction: column;
    }

    @media (max-width: $mobile) {
      width: 100%;
      margin-bottom: 2rem;
    }

    h2 {
      font-size: 1.5rem;
      color: $red;
      margin-right: 2rem;

      @media (max-width: $mobile) {
        text-align: center;
        margin: 1rem 0;
      }

      a {
        color: $red;

        font-size: 1.6rem;
      }
    }

    nav {
      width: 65%;
      @include flex(space-between);
      padding-top: 0.3rem;
      text-transform: capitalize;

      @media (max-width: $desktop) {
        width: 100%;
      }

      a {
        color: $white;
        transition: color 0.5s ease;

        &:hover {
          color: grey;
        }
      }
    }
  }

  .search-logout {
    display: flex;
    .search {
      display: flex;
      transition: all 0.3s ease;

      .icon {
        font-size: 1.3rem;
        margin-right: 0.9rem;
        color: $white;
        cursor: pointer;
        padding-top: 0.5rem;
      }

      form {
        position: relative;

        input {
          font-size: 1.1rem;
          border: none;
          height: 100%;
          background: transparent;
          color: $white;
          width: 250px;
          font-weight: 300;
        }

        .error {
          position: absolute;
          top: 2.3rem;
          left: 0;
          text-transform: uppercase;
          font-size: 0.7rem;
        }
      }
    }

    button {
      border-radius: 4px;
      border: none;
      padding: 0 1rem;
      font-size: 1.1rem;
      background: none;
      color: $white;
      text-transform: capitalize;
      cursor: pointer;
    }
  }

  .showForm {
    border: 1px solid rgb(228, 228, 228);
    padding: 0.4rem;
    background: rgba(0, 0, 0, 0.9);
    transition: all 0.5s ease;
  }
}

.black {
  background: rgba(0, 0, 0, 0.9);
}

.active {
  font-weight: bold;

  &:hover {
    cursor: not-allowed;
    color: $white;
  }
}
