.Signup {
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  position: relative;
  padding-top: 5rem;
  font-weight: 300;

  @media (max-width: $iphone6) {
    margin-bottom: -10rem;
  }
  &::after {
    width: 100%;
    height: 100vh;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: url("../img/home.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .Signup-form {
    width: 450px;
    margin: 10rem auto 0;
    padding: 4rem;
    color: grey;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.8);

    @media (max-width: $iphone6) {
      width: 85%;
      margin-top: 5rem;
      padding: 3rem;
    }

    h2 {
      margin-bottom: 2rem;
      font-size: 2rem;
      color: $white;

      @media (max-width: $iphone6) {
        font-size: 1.3rem;
      }
    }

    label {
      position: relative;
      display: block;
      width: 100%;
      font-weight: 300;

      input {
        font-family: "Lato", sans-serif;
        display: block;
        width: 100%;
        padding: 0.7rem;
        font-size: 1.1rem;
        margin-top: 1rem;
        border-radius: 5px;
        outline: none;
        font-weight: 300;
        color: $black;

        @media (max-width: $iphone6) {
          padding: 0.3rem;
          font-size: 0.9rem;
        }
      }

      .togglePassword {
        position: absolute;
        font-size: 1rem;
        z-index: 100;

        top: 35%;
        left: 90%;
        cursor: pointer;
        color: $black;

        @media (max-width: $iphone6) {
          font-size: 0.7rem;
          top: 30%;
        }
      }

      .error-message {
        font-size: 0.8rem;
        padding-top: 0.3rem;
        color: #e87c03;

        @media (max-width: $iphone6) {
          font-size: 0.7rem;
        }
      }
    }

    .btn {
      display: block;
      width: 100%;
      font-size: 1.1rem;
      padding: 0.6rem 0;
      margin-top: 3rem;
      border-radius: 5px;
      outline: none;
      background: $red;
      color: $white;
      border: none;
      cursor: pointer;
      font-weight: 300;

      @media (max-width: $iphone6) {
        font-size: 0.9rem;
        padding: 0.4rem;
      }
    }

    .submitting {
      background: lighten($red, 7%);
      cursor: not-allowed;
    }

    .already-member {
      font-size: 0.9rem;
      margin: 1rem 0;

      @media (max-width: $iphone6) {
        font-size: 0.7rem;
      }

      a {
        display: inline-block;
        margin-left: 0.5rem;
        color: $white;

        @media (max-width: $iphone6) {
          font-size: 0.7rem;
        }
      }
    }

    .terms {
      font-size: 0.9rem;
      margin-bottom: 3rem;

      @media (max-width: $iphone6) {
        font-size: 0.6rem;
      }

      a {
        color: rgb(23, 83, 212);
      }
    }
  }
}
