$padd-lr: 4rem;
$green: rgb(92, 204, 92);
$white: #f4f4f4;
$black: #333;
$red: #ff1d25;
$max-width: 1200px;

// media queries

$big-desktop: 1900px;
$fourteen-hundred: 1440px;
$med-desktop: 1150px;
$desktop: 1040px;
$lap-top: 800px;
$mobile: 500px;
$iphone6: 414px;
$iphone5: 375px;
$iphone4: 320px;

@mixin flex($justify) {
  display: flex;
  justify-content: $justify;
}

// h1 1.5
// p 0.9
// h2 1.3
