.movie-content-container {
  padding: 0 $padd-lr;
  z-index: 100;
  color: white;
  height: auto;

  h2 {
    margin: 1rem 0;
    font-weight: normal;
    font-size: 1.7rem;
  }

  .load-more-btn {
    @include flex(center);

    button {
      font-size: 1.4rem;
      padding: 0.5rem 3rem;
      border: none;
      text-transform: capitalize;
      background: rgba(100, 100, 100, 0.9);
      color: white;
      border-radius: 5px;
      cursor: pointer;
      transition: all 0.2s ease;

      &:hover {
        color: #333;
        background: #f4f4f4;
        transform: scale(1.1);
      }
    }
  }
}

.display-cards {
  display: flex;
  flex-wrap: wrap;
}

.single-movie-container {
  width: 396px;
  margin: 0 0.2rem 5rem 0;

  a {
    width: 100%;
    height: 99%;

    .img-container {
      width: 100%;
      height: 99%;
      transition: transform 0.5s ease;

      position: relative;

      &:hover {
        transform: scale(1.2);
        z-index: 10;

        .hover-info {
          display: block;
        }
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        //   object-fit: contain;
        cursor: pointer;
        z-index: 0;
        position: relative;
      }

      .hover-info {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        padding: 1rem;
        display: none;
        box-shadow: inset 0px 40px 30px 2px rgba(0, 0, 0, 0.75);

        h3 {
          text-transform: capitalize;
          font-weight: 500;
          font-size: 1.5rem;
          color: white;
          margin-bottom: 0.5rem;
        }
        p {
          color: rgb(41, 255, 41);

          font-size: 1rem;
        }

        .add-icon {
          display: flex;
          justify-content: flex-end;
          font-size: 1.7rem;
          color: grey;

          div {
            cursor: pointer;

            &:hover {
              color: white;
            }
          }
        }
      }
    }
  }
}
