.movie-content-container {
  //   border: 1px solid red;
  padding: 0 $padd-lr;
  position: absolute;
  top: 85%;
  left: 0;
  z-index: 500;
  color: white;

  h2 {
    margin-bottom: 1rem;
  }

  .display-cards {
    display: flex;
    flex-wrap: wrap;
    //  background: rgba(0, 0, 0, 0.8);
    //  justify-content: center;
    //  border: 1px solid red;
  }

  // MovieCard component
  .single-movie-container {
    width: 396px;
    height: 200px;
    margin: 0 0.2rem 0 0;
    //  border: 1px solid red;

    .img-container {
      width: 100%;
      height: 99%;
      // margin: 0 0.5rem 0 0;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.5s ease;
        //   margin: 0 0.5rem 0 0;
        cursor: pointer;

        &:hover {
          transform: scale(1.9);
        }
      }
    }
  }
}
